<h1> <%= @student.first_name %> <%= @student.last_name %> </h1>
  <p>
    <%= @student.email %>
  </p>

<%= link_to "Update Student", edit_student_path(@student)%> |
<%= link_to "Delete Student", student_path(@student), method: :delete, data: {confirm: 'are you sure?'} %> 







