<h1>Pick a teacher to review or add a <%= link_to("new teacher", new_teacher_path) %> </h1>
<br>
<% @teachers.each do |teacher| %>
 
  <article>
    <header>
      <% teacher_name = teacher.first_name + " " + teacher.last_name %>
      <h2><%= link_to teacher_name, teacher_path(teacher) %></h2>  
  </header>
    <p>
      <%= teacher.school %>
      <%= teacher.subject %>
      <%= teacher.grade %><br>
      <%= link_to "See reviews for this teacher", teacher_reviews_path(teacher)  %>
    </p>
  </article>


<% end %>

