<h1>Pick a teacher to review or add a <%= link_to("new teacher", new_teacher_path) %> </h1>
<br>
<% @teachers.each do |teacher| %>
 
  <article>
    <header>
      <h2><%= teacher.first_name %> <%= teacher.last_name %></h2><%= link_to "more info", teacher_path(teacher)%>    
  </header>
    <p>
      <%= teacher.school %>
      <%= teacher.subject %>
      <%= teacher.grade %>
    </p>
  </article>


<% end %>

