<h1> <%= @teacher.first_name %> <%= @teacher.last_name %> </h1>
  <p>
    <%= @teacher.school %>
    <%= @teacher.subject %>
    <%= @teacher.grade %>
  </p>


<% if current_student_admin? %>
<%= link_to "Update Teacher", edit_teacher_path(@teacher)%> |
<%= link_to "Delete Teacher", teacher_path(@teacher), method: :delete, data: {confirm: 'are you sure?'} %> 
<% end %>

<%= link_to "Write a review", new_teacher_review_path(@teacher) %>
<ul>
  <% @reviews.each do |review| %>
    <p>
    <li>
      Written by:       <%= link_to review.student.first_name, review.student %><br>
      Review:           <%= review.review %><br>
      School Name:      <%= review.school %><br>
      Number of Stars:  <%= review.stars %><br>
    </li>
    </p>
  <% end%>
</ul>



