<h1> <%= @teacher.first_name %> <%= @teacher.last_name %> </h1>
  <p>
    <%= @teacher.school %>
    <%= @teacher.subject %>
    <%= @teacher.grade %>
  </p>


<h3> Reviews of this teacher: </h3>

<!-- You'll need to access a nested resource here -->
